* {
  box-sizing: border-box;
}
@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s linear infinite;
}
.rect {
  width: 10px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  position: relative;
  animation: moving 2s linear infinite, blinking 2s linear infinite;
}