.static-parent {
  position: static;
}
.relative-parent {
  position: relative;
  top: 20px;
  left: 50px;
}
.absolute-parent {
  position: absolute;
  right: 50px;
  bottom: 20px;
}
.fixed-parent {
  position: fixed;
  left: 30px;
  bottom: 20px;
}