/* put your code here */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.text {
  display: inline-block;
  margin: 16px;
  text-decoration: underline dotted black;
  text-underline-offset: 4px;
  font-size: 18px;
  position: relative;
}

.tooltip {
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  bottom: -40px;
  left: 0px;
}
